# environment variables
DISCOVERY_USERNAME=<discovery-username>
DISCOVERY_PASSWORD=<discovery-password>
DISCOVERY_ENVIRONMENT_ID=<discovery-environment-id>
DISCOVERY_COLLECTION_ID=<discovery-collection-id>